# Log files
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.DS_Store

# nyc test coverage
.nyc_output

# Coverage directory used by tools like istanbul
coverage
*.lcov
docker-compose.yaml

# Dependency directories
node_modules/
package-lock.json
.yarn-integrity

# Optional npm cache directory
.tsbuildinfo
.npm
.eslintcache
.cache

# dotenv environment variables file for local dev
.env
easygraphql-load-tester-queries.json
# Optional REPL history
.node_repl_history

# dist package
dist/*
dist

# ide
.idea
*.swp
.vscode

#OS files
desktop.ini
.direnv

# aws yaml files
aws.yaml
helm/accounts-service/aws.yaml

bak.dump
